<% provide(:title, 'About Us')%>
<!--><!DOCTYPE html>
<html>
   <head>
      <title> Ruby on Rails Tutorial Sample App | <%= yield(:title) %> </title>
   </head>
   <body><!-->
      <h1>About Us</h1>
      <p>
         Erase una vez, en un reino olvidado por el paso del tiempo, tres audaces programadores que se propusieron un reto, un reto para crear un mundo donde cualquiera pudiera ser el heroe, y pudiese divertirse en su camino a la gloria.
         Con sus inigualabes armas e ingenio comenzaron la busqueda para crear ese mundo soñado y después de largo tiempo, de multitud de infortunios, de obtener una gran colección de "gemas" preciosas y de pasar por un montón de "pruebas" a cada cual más dificil... Lo consiguieron.
         He aquí el resultado de tamaño esfuerzo, nace TwTRol, un lugar en el que divertirse, un lugar en el que interactuar, un lugar donde vivir miles de aventuras y donde cualquiera puede convertirse en heroe si se lo propone.
         
         Nosotros os hemos dado el mundo, os toca a vosotros forjaros un camino. Un saludo a todos del parte del Equipo SSJ y disfrutad de la plataforma. =)
      </p>
 <!-->  </body>
</html><!-->

