			<div class="content_box">
            	<h2>¿Qué es TwTRol?</h2>               
			    <p>Es una plataforma social que sirve como videojuego. Con esta plataforma podrás ser un intrépido aventurero que lucha por aquello en lo que cree.</p>
			</div>
			<div class="content_box">
            	<h2>¿A quien va dirigido?</h2>               
			    <p>A todos aquellos que quieran conocer gente y divertirse con un poco de rol. Solo para los que quieren pasárselo bien. </p>
			</div>
			<div class="content_box">
            	<h2>¿Como viajo entre reinos?</h2>               
			    <p>Simplemente debes usar el comando @viajar al principio de tu mensaje seguido de tu destino.Un mensaje te avisará de que estas en transito y del tiempo que tardarás en llegar.  Mensaje de ejemplo: "@Viajar a Tandem."</p>
			</div>
			<div class="content_box">
            	<h2>¿Como puedo atacar?</h2>               
			    <p>Para atacar solo has de mencionar la persona o monstruo objetivo del ataque y mostrar la tirada de ataque en tu mensaje, los dados para calcular las tiradas de manera provisional serán d20. Mensaje de ejemplo: "@Usuario1 Te ataco con la espada del alba y una tirada de 16."</p>
			</div>
			<div class="content_box">
            	<h2>¿Como puedo defenderme?</h2>               
			    <p>Cuando recibas un mensaje de ataque podras defenderte o realizar una acción evasiva utilizando un dado d20 básico y viendo la diferencia entre el ataque del enemigo y tu defensa. Mensaje de ejemplo: "@Usuario2 Me entran dos puntos de tu ataque, consigo realizar mi acción evasiva con un arañazo en la mejilla, y contraataco con una daga a tu cuello y una tirada de 12."</p>
			</div>
			<div class="content_box">
            	<h2>¿Cómo comprar en las tiendas?</h2>               
			    <p>Primero debes encontrarte en una ciudad y luego hacer uso del comando @Comprar seguido del artículo en cuestión,  ten en cuenta que debes tener dinero suficiente en tu cuenta (Nunca nos referimos a dinero real). Automáticamente el dinero se descontará y tu antiguo equipo se desechara. Mensaje de ejemplo: "@ComprarTandem Espada de Hierro."</p>
			</div>
