                <div class="content_box">
            	<h2>El Mapa del Reino de Anastor</h2>                
                <img class="image_wrapper" src="/assets/mapa.png" alt="El mapa del reino" />
			    </div>
