<footer class="footer">
   <div id="templatemo_footer">
    	<!--Copyright © 2013 <a href="#">SSJ Team</a> | 
		Designed by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a> | 
		Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; 
				 <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>-->
				 
				 <a href="/about">Acerca</a> | <a href="/contact">Contacto</a> | <a href="/help">Ayuda</a>
				 
    </div> <!-- end of footer -->
</footer>

