
			<div class="content_box">
			  <h1>Noticias</h1>
            	<h2>¡¡Proxima Apertura!!</h2>
                
                <img class="image_wrapper" src="/assets/dragonban.jpg" alt="free templates" />
			  <p> Todos los administradores y creadores de esta pagina estan listos, las ciudades y sus gentes adornan las calles para celebrarlo, las bestias preparan sus garras y dientes para los invitados de honor: los guerreros que se atrevan a desafiarlos. ¿Sereis vosotros los que os alzareis como heroes de este reino? ¡Que comience la caza del Dragon!</p>
			</div>
            
			<div class="content_box">
            	<h2>Novedades de esta semana (8/Julio/2013)</h2>
                <img class="image_wrapper image_fl" src="/assets/dragon01.png" alt="image" />
              <h5><a href="/mission">Nuevas misiones y caza del Dragon en Tandem</a></h5>
          <p>Se han actualizado la lista de tablones en la ciudad de Tandem, incluyendo una cacería de Dragon. Guerreros herrantes, está en vuestras manos ayudar a las buenas gentes de Tandem.</p>
              	<a class="more float_r" href="/mission"></a>
                
              	<div class="clear h30"></div>
                
                <img class="image_wrapper image_fl" src="/assets/bosque01.png" alt="image" />
            <h5><a href="/mission">Bandidos en el Bosque de Ermine</a></h5>
                <p>Según informes de las diversas autoridades, varios guerreros y comerciantes han sufrido ataques en el Bosque de Ermine, las autoridades solicitan guerreros valientes para acabar con la amenaza.</p>
              <a class="more float_r" href="/mission"></a>
                <div class="clear"></div>
            </div>
