            <div class="content_box">
            	<h2>La isla del Olvido</h2>                
                <img class="image_wrapper" src="/assets/olvido.png" alt="free templates" />
			  <p>La Isla del olvido, un lugar del que ningún guerrero regresa jamás. Preparate para afrontar los mayores desafios y, si eres lo suficientemente hábil, podrás verte cara a cara con el Maestro de Dragones. ¿Te atreves a desafiarle y a reclamar el titulo para ti? ¿Saldrás vencedor de la isla o moriras como el resto de guerreros antes que tú? Para aceptar el desafio solo debes comunicarle tu viaje a un GM y estar preparado para afrontar la oscuridad.</p>
			</div>
