<h2>Tienda de Tandem</h2>
   <img class="image_wrapper image_fl" src="/assets/Tandem.png" alt="Ciudad de Tandem" />
   <h5>- Jubón de Algodón - +2 de Defensa (50 Soberanos)</h5>
   <h5>- Chaleco ligero de Bronce - +5 de Defensa (90 Soberanos)</h5>
   <h5>- Armadura de la Guardia del Sol +45 de Defensa (315 Soberanos)</h5>
   <h5>- Demoledora - +35 de Ataque (Espada a 2 manos - 150 Soberanos)</h5>
<div class="clear h30"></div>
<h2>Tablón de misiones - Ciudad de Muirtheme</h2>
   <img class="image_wrapper image_fl" src="/assets/Muirtheme.png" alt="image" />
   <h5>- Chaleco ligero de Bronce - +5 de Defensa (90 Soberanos)</h5>
   <h5>- Bastón Rúnico - +32 de Ataque (Elemental de Fuego - 280 Soberanos)</h5>
   <h5>- Bastón de Madera - +12 de Ataque (Elemental Neutro - 110 Soberanos)</h5>
   <h5>- Dagas de Bronce - +10 de Ataque (Tirada Crítica - 95)</h5>
<div class="clear h30"></div>
<h2>Tablón de misiones - Ciudad de Madrigal</h2>
   <img class="image_wrapper image_fl" src="/assets/Madrigal.png" alt="image" />
   <h5>- Dagas de Bronce - +10 de Ataque (Tirada Crítica - 95)</h5>
   <h5>- Chaleco ligero de Bronce - +5 de Defensa (90 Soberanos)</h5>
   <h5>- Jubón de Algodón - +2 de Defensa (50 Soberanos)</h5>
   <h5>- Espada de Bronce - +14 de Ataque (Espada a una mano - 100 Soberanos)</h5>
   <div class="clear h30"></div>
<h2>Tablón de misiones - Ciudad de Rhi'anon</h2>
   <img class="image_wrapper image_fl" src="/assets/Rhianon.png" alt="image" />
   <h5>- Espada de Bronce - +14 de Ataque (Espada a una mano - 100 Soberanos)</h5>
   <h5>- Bastón Rúnico - +32 de Ataque (Elemental de Fuego - 280 Soberanos)</h5>
   <h5>- Armadura Laminada de Hierro - +25 de Defensa (220 Soberanos)</h5>
   <h5>- Bastón Maldito - +¿? (Necesita una curandera - 120 Soberanos)</h5>
